<div class="row">
  <div class="col-sm-12">
    {{ form_open({ id:'paypal-payment-form',request: __SELF__~'::onHandleForm'}) }}
        <div class="donation-form">

          <div class="">
              <h3 class="section-heading">Contact Information</h3>
              <div class="col-sm-6">
                  <div class="form-group">
                      <label> First Name</label>
                      <input class="required form-control" name="first_name" id="firstNamePayPal" maxlength="50" type="text" />
                  </div>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="form-group">
                  <label> Last Name</label>
                  <input class="required form-control" name="last_name" id="lastNamePayPal" maxlength="50" type="text" />
              </div>
          </div>

          <div class="col-sm-6">
              <div class="form-group">
                  <label> Email</label>
                  <input class="form-control required email" type="email" name="email" id="emailPayPal">
              </div>
          </div>

          <div class="col-sm-6">
              <div class="form-group">
                  <label> Phone</label>
                  <input class="form-control number" type="text" name="phone" id="phonePayPal">
              </div>
          </div>

          <!--Donation amount container-->
          <div class="col-sm-12">
              <div class="donation-amount-container">
                  <h3 class="section-heading">Please indicate your level of support:</h3>
                  <div class="form-group">
                    {% for key , getDonationData in donationAmount %}
                        <div class="col-sm-4 col-md-3">
                           {% if getDonationData['amount'] == 'other' %}
                            <input  min="1" maxlength="15" name="donationAmountOther" id="donationAmountOther" min="1" class="form-control add-amount" value="" type="number" placeholder="$ Amount">
                           {% else %}
                             <span class="btn btn-amount amountOption-btn select-amount">
                              <input id="option{{key}}" name="donationAmountSelected" {% if key == 0 %} checked="checked" {% endif %}  value="{{getDonationData['amount']}}" class="required amount-buttons" type="radio">
                              ${{ getDonationData['amount'] }} </span>
                           {%  endif %}
                         </div>
                    {% endfor %}
                  </div>
                </div>
             </div>

             <div class="col-sm-12">
               <div class="form-group">
                 <input type="checkbox" name="donation_frequency" value="month" class="icheck">
                 <span class="checkbox-text">
                 I would like to become a sustaining monthly donor.
                 </span>
               </div>
             </div>

          <div class="row">
            <input type="submit" id="paypalpayment" class="btn btn-primary pull-right submit-donation" value="Donate With PayPal"/>
          </div>


          <div class="col-sm-12">
            {% partial 'donation/footer_text.htm' %}
          </div>
        </div>
    {{ form_close() }}
  </div>
</div>
